<div class="text-center">

<% if @orders.count == 0	 %>
 <h2>	<%= "沒有歷史紀錄, 看一下餐廳清單開個團吧！" %> </h2>
 <%= link_to "餐廳清單", restaurants_path, class: 'btn btn-warning' %>
<% else %>
<h1> 歷史清單 </h1>
<div class="table-responsive">
	<table class="table">
	<thead>
		<tr>
			<th style="width: 20%" class="text-center">
				<h3> 開團日期 </h3>
			</th>
			<th style="width: 20%" class="text-center">
				<h3> 開團人 </h3>
			</th>
			<th style="width: 30%" class="text-center">
				<h3> 餐廳名稱 </h3>
			</th>
			<th style="width: 30%" class="text-center">
				<h3> Action </h3>
			</th>
		</tr>
	</thead>
	<tbody>
			<% @orders.each do |order| %>
			<tr>
				<td>
						<%= order.created_at.to_date %>
				</td>
				<td>
						<%= order.user.username %>
				</td>
				<td>
					  <% if order.restaurant %>
							<%= order.restaurant.name %>
						<% else %>
						  <%= "餐廳已刪除" %>
						<% end %>
				</td>
				<td>
					<%= link_to "查看明細", order_orderlists_path(order), class: 'btn btn-primary' %>
					<%= link_to "刪除紀錄", order_path(order), method: :delete, class: 'btn btn-danger',data: { confirm: "確定刪除此筆紀錄?" } %>
				</td>
			</tr>
			<% end %>
	</tbody>
	
	</table>
<% end %>
</div>


</div>



