<div class="row text-center">
  <div class="col-md-12 col-xs-12">
    <h1> <%= @restaurant.name %> </h1>
    <br>
  </div>
  <div class="col-md-7 col-xs-12">
  <%= image_tag(@restaurant.menu_photo.url(:medium)) %>
  </div>
  <div class="col-md-5 col-xs-12">
    <%= simple_form_for(@orderlist) do |f| %>
    <%= f.input :item, label: "餐點" %>
    <%= f.input :quantity, label: "數量" %>
    <%= f.input :description, label: "備註" %>
    <%= f.input :price, label: "總金額" %> 
    <%= hidden_field_tag :order_id, @order.id %>
    <div class="form-group">
      <%= f.submit "訂購", class: 'btn btn-primary' ,data: { confirm: "確定訂購?" } %>
    </div>  
    <% end %> 
  </div>   
</div>