<div class="row text-center">
	<h1> This is Order page !! </h1>
	<br></br>
  <%= image_tag(@restaurant.menu_photo.url) %>    
  <br></br>
  <%= form_for(@orderlist) do |f| %>
    <%= f.label :description, "餐點" %>
    <%= f.text_field :description %> <br />

    <%= f.label :price, "金額" %>
    <%= f.text_field :price %> <br />

    <%= hidden_field_tag :order_id, @order.id %>

    <div class="form-group">
			<%= f.submit "訂購", class: 'btn btn-primary' ,data: { confirm: "確定訂購?" } %>
		</div>
  <% end %>       
</div>