<div class="form-group">
		<%= f.label :name %> <br/>
		<%= f.text_field :name %> <br/>
		<%= f.label :address %> <br/>
		<%= f.text_field :address %> <br/>
		<%= f.label :tel %> <br/>
		<%= f.text_field :tel %> <br/>
		<%= f.label :menu_photo, "上傳照片" %> <br/>
		<%= f.file_field :menu_photo %><br/>
</div>