<h1> 午餐吃好料！！ </h1>

<div class="table-responsive">
	<table class="table">
	<thead>
		<tr>
			<th>
				<h3> Name </h3>
			</th>
			<th>
				<h3> Address </h3>
			</th>
			<th>
				<h3> Tel </h3>
			</th>
			<th>
				<h3> Action </h3>
			</th>
		</tr>
	</thead>
	<tbody>
		<% @restaurants.each do |restaurant| %>
		<tr>
			<td>
					<%= restaurant.name %>
			</td>
			<td>
					<%= restaurant.address %>
			</td>
			<td>
					<%= restaurant.tel %>
			</td>
			<td>
				<%= link_to "Show", restaurant_path(restaurant), class: 'btn btn-primary' %>
				<%= link_to "Edit", edit_restaurant_path(restaurant), class: 'btn btn-info' %>
				
			</td>
		</tr>
		<% end %>
	</tbody>
	<tfoot>
		<tr>
			<td>
				<%= link_to "new", new_restaurant_path, class: 'btn btn-warning' %>
				<%= link_to "sign out", destroy_user_session_path, method: :delete, class: 'btn btn-warning' %>
			</td>
		</tr>
	</tfoot>
</table>
</div>



