<!DOCTYPE html>
<html>
  <head>
    <title>DinbendonLite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
  	<% if flash[:notice].present? %>
      <div class="alert alert-success" role="alert"><%= flash[:notice] %>
      </div>
    <%end%>
    <% if flash[:alert].present? %>
      <div class="alert alert-danger" role="alert"><%= flash[:alert] %>
      </div>
    <%end%>
      
      <div class="container">
      <div class="row">
          <div class="col-lg-12">
            <% if current_user %>
            <%= link_to "回首頁", :root, class: 'btn btn-primary' %>
            <%= link_to '編輯個人資料', edit_user_registration_path, class: 'btn btn-warning' %>
            <%= link_to '登出', destroy_user_session_path, :method => :delete, class: 'btn btn-warning' %> 
            <% end %>
          </div>
      </div>

        <%= yield %>
      </div>
    <!-- Footer -->
    <footer class="footer text-center navbar-fixed-bottom">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <font size="4">
                      HoJar.Inc &copy; Since 2018
                  </font>
                  <br></br>
              </div>
          </div>
      </div>
    </footer>
  </body>
</html>
